@import "vars";
@import "mixins";

body{
    background-color: hsl(208, 90%, 88%);
}
.container{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-50px;
    margin-top: 60px;
    margin-bottom: 50%;
    background-color: none;
    .steam{
        position: relative;
        top: 0px; 
        left: 35px;
        background-color: hsl(0, 0%, 100%);
        height: 1em;
        width: 1em;
        border-radius: 45%;
        z-index: 2;
    }
    #cloudOne{
        position: absolute;
        animation: steamUp 6s ease-out infinite;
    }
    #cloudTwo{
        position: absolute;
        animation: steamLeft 6s ease-out 0.5s infinite;
        
    }
    #cloudThree{
        position: absolute;
        animation: steamRight 6s ease-out 1s infinite;
    }
    #cloudFour{
        position: relative;
        animation: steamLeft 6s ease-out 1.5s infinite;
    }
    #noodleBallOne{
            animation: noodleDropIn 1.9s ease-out 1;
            @include noodles;
            z-index: 3;
            left: 25%;
    }
            #noodleBallOne::before{
                content: '';
                @include noodleDetail;
                top: 4px;
                left: 1px;
                width: 3.7em; 
                height: 4em;
            }
            #noodleBallOne::after{
                content: '';
                @include noodleDetail;
                top: 14px;
                left: 6px;
                width: 3em; 
                height: 3em;  
            }
    #noodleBallTwo{
        animation: noodleDropIn 1.9s ease-out 1;
            @include noodles;
    }       
            #noodleBallTwo::before{
                content: '';
                @include noodleDetail;
                top: 18px;
                left: 15px;
                width: 2em; 
                height: 2em;  
            }
            #noodleBallTwo::after{
                content: '';
                @include noodleDetail;
                top: 9px;
                left: 7px;
                width: 3em; 
                height: 3em;  
            }

        }
    #chopstickOne{
        @include chopstickDesign;
        animation: chopstickDropIn 0.9s linear 1;
    }
    #chopstickTwo{
        @include chopstickDesign;   
        left: 20px;
        animation: chopstickDropIn 1s linear 1;
    }
    .bowl{
        position: absolute;
        width: 6.7rem;
        height: 3rem;
        background: rgb(243, 243, 243);
        border-radius: 5px 5px 50px 50px;
        // border-bottom: 5px solid rgb(194, 194, 194);
        border: 2px solid rgb(0, 0, 0);
        z-index: 3;
        background: repeating-linear-gradient(
            0deg,
            rgb(221, 220, 220),
            rgb(251, 250, 250) 10px,
            hsl(231, 33%, 50%) 10px,
            hsl(231, 37%, 44%) 20px
        );
    }

//chopstick animation
@keyframes chopstickDropIn{
    0%{
        transform:translateY(-350px)
    }
    70%{
        transform:translateY(-350px) translateX(10px);
    }
    90%{
        transform:translateY(-10px) translateX(20px);
    }
    100%{
        transform: rotate(335deg);
    }
}
//noodle animation
@keyframes noodleDropIn{
    0%{
        transform:translateY(-300px) scaleY(2) scaleX(0.5);

    }
    10%{
        transform: scaleX(0.5);
    }
    20%{
        transform:translateY(0px);
        transform: scale(1.1, 0.3);
    }
    25%{
        transform: scale(1.1, 0.7);
    }
    30%{ 
        transform: scale(0.8, 1.1); 
    }
    50%{ 
        transform: scale(1.1, 0.9); 
    }
    75%{ 
        transform: scale(0.95, 1.05); 
    }
}
//steam animation
@keyframes steamUp {
    0%{
        transform: translateX(5px) translateY(5px) scale(0.2);
        opacity: 0.5;
    }
    100%{
        transform:translateY($steamHeight) scale(3);
        opacity: 0;
    }
  }
@keyframes steamLeft {
    0%{
        transform: translateX(10px) translateY(5px) scale(0.2);
        opacity: 0.5;
    }
    100%{
        transform: translateX(-10px) translateY($steamHeight) scale(3);
        opacity: 0;
    }
  }
@keyframes steamRight {
    0%{
        transform: translateX(10px) translateY(5px) scale(0.2);
        opacity: 0.5;
    }
    100%{
        transform: translateX(10px) translateY($steamHeight) scale(3);
        opacity: 0;
    }
  }



